$grey: #a6a6a6;

.pokemon-details {
  border-color: $grey;
  box-shadow: 0 0 5px $grey;
  outline: none
}

.dark-yellow {
  color: #deab12
}

.increaseOnHover {
  transition: all 1s
}

.increaseOnHover:hover {
  transform: scale(1.3)
}