<div class='content'>
  <header>
    <div class='text-center'>
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img width='300' alt='Angular Logo' src='../favicon.ico'>
    </div>
  </header>
  <p-tabMenu styleClass="ml-5" [model]='menuItems' [activeItem]='menuItems[0]'></p-tabMenu>
  <main class='p-5'><router-outlet></router-outlet></main>
</div>
<footer class='footer bg-light text-muted text-center p-4'>
  <em>Pokémons coach project! &copy;2018 Created by Leonardo Habitzreuter</em>
</footer>
