<app-content-header title="Pokémons"></app-content-header>
<section>
  <article>
    <div class="card card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title">Search for a pokémon</h4>
        <i class="fas fa-plus cursor-pointer" data-toggle="collapse" href="#filtersBody" role="button" aria-expanded="false" aria-controls="filtersBody"></i>
      </div>
      <hr>
      <div id="filtersBody" class="collapse">
        <form [formGroup]='searchForm' novalidate class='m-2' (ngSubmit)="searchPokemon()">
          <div class='form-group col-sm-12 col-md-6 col-lg-4 pl-0'>
            <label for='searchParameter' class="mr-2">Id / Name</label>
            <input autofocus id='searchParameter' formControlName='searchParameter' class='form-control w-75' tipe='number' placeholder='id or name'>
          </div>
          <p-button [disabled]="!searchForm.valid" type='submit' label='Search' data-toggle="modal" data-target="#pokemonModal"></p-button>
        </form>
      </div>
    </div>
  </article>
  <article class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Results</h4>
      <hr>
      <p-table [value]="pokemons">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Url</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pokemon>
          <tr>
            <td>{{pokemon.name}}</td>
            <td><a target="_blank" [href]="pokemon.url">{{pokemon.url}}</a></td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator styleClass='mt-3' [rows]="10" [totalRecords]="totalRecords" (onPageChange)="updateGrid($event.first)"></p-paginator>
    </div>
  </article>
  <app-pokemon-modal [pokemon]="pokemon"></app-pokemon-modal>
</section>
